services:
#  # run with: pi_discovery_fix.xml
#  discovery-server:
#    image: adeept_raspclaws-raspclaws_ros2:latest
#    network_mode: host
#    container_name: discovery-server
#    command: >
#      bash -c "source /opt/ros/humble/setup.bash &&
#      fast-discovery-server -i 0 -l 0.0.0.0 -p 11811"
#    environment:
#      - FASTRTPS_DEFAULT_PROFILES_FILE=/ros2_ws/pi_discovery_fix.xml
#    restart: always
#    healthcheck:
#      test: ["CMD-SHELL", "pgrep -f 'fast-discovery-server' || exit 1"]
#      interval: 5s
#      timeout: 3s
#      retries: 3

  raspclaws_ros2:
    image: adeept_raspclaws-raspclaws_ros2:latest
    build:
      context: .
      dockerfile: Dockerfile.ros2
    network_mode: host
    container_name: raspclaws_ros2
    privileged: true  # <--- ERMÖGLICHT HARDWARE-ZUGRIFF (I2C)
    devices:
      - "/dev/i2c-1:/dev/i2c-1" # <--- DIREKTE MAP AN DIE SERVOS
    environment:
      - ROS_DOMAIN_ID=0
      #- FASTRTPS_DEFAULT_PROFILES_FILE=/ros2_ws/pi_discovery_fix.xml # <--- XML laden
      #- ROS_DISCOVERY_SERVER=127.0.0.1:11811
      #- PYTHONPATH=/ros2_ws:/ros2_ws/Server
      # ------------------
      # Wir löschen ROS_DISCOVERY_SERVER!
      # Stattdessen sagen wir ihm, er soll nur auf sich selbst und später auf den PC hören:
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      #- FASTRTPS_DEFAULT_PROFILES_FILE=/ros2_ws/pi_unicast_only.xml
      - PYTHONPATH=/ros2_ws:/ros2_ws/Server
      # ------------------
      # Wir sagen dem Pi, er soll den PC direkt anrufen:
      - ROS_STATIC_PEERS=192.168.2.121  # <--- HIER DEINE NOTIERTE IP EINTRAGEN
    #depends_on:
    #  discovery-server:
    #    condition: service_healthy  # Warte bis Server wirklich bereit ist
    volumes:
      - /home/pi/adeept_raspclaws:/ros2_ws
      - /dev:/dev  # Gibt dem Container direkten Zugriff auf Kamera und I2C
    command: >
      bash -c "source /opt/ros/humble/setup.bash && 
            python3 /ros2_ws/Server/ROSServer.py"
    restart: always

  raspclaws_camera:
    image: adeept_raspclaws-raspclaws_ros2:latest  # Gleiches Image wie raspclaws_ros2
    build:
      context: .
      dockerfile: Dockerfile.ros2
    container_name: raspclaws_camera
    network_mode: host  # ROS2 DDS braucht host network
    privileged: true    # Für Kamera-Zugriff
    devices:
      - /dev/video0:/dev/video0  # Kamera device
    environment:
      - ROS_DOMAIN_ID=0  # Gleiche Domain wie raspclaws_ros2
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - PYTHONPATH=/ros2_ws:/ros2_ws/Server
      - ROS_STATIC_PEERS=192.168.2.121  # Gleicher PC wie raspclaws_ros2
    volumes:
      - /home/pi/adeept_raspclaws:/ros2_ws  # Gleiches Volume wie raspclaws_ros2
    command: >
      bash -c "source /opt/ros/humble/setup.bash && 
            python3 /ros2_ws/Server/FPV_ROS2.py"
    restart: unless-stopped
